page-signup {
    .errorBox{
        color : red;
        padding-top: 10px;
        padding-left: 70px;

    }
    .input.ng-pristine {
            border-color:yellow;
        }

    .input.ng-touched.ng-invalid {
            border-color:red;
        }

    .input.ng-touched.ng-valid {
            border-color:green;
        }

}
